.number-box {
  /* background-color: chocolate; */

  height: fit-content;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;

  position: absolute;
  top: 150px;
  left: 40px;
}
